@page 
@model Reservations.Pages.RoomsModel

<div class="container p-3">
	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-primary">Rooms List</h2>
		</div>
	</div>

	<br /><br />

	<table class="table table-bordered table-striped" style="width:80%">
		<thead>
			<tr>
				<th>
					Room Name
				</th>
				<th>
					Current Status
				</th>
				<th>
					Change Status
				</th>
			</tr>
		</thead>
		<tbody>
				@foreach (var obj in @Model.Rooms)
				{
				<tr>
					<td width="10%" id="@obj.Id">
						 @obj.Id
					</td>
					<td width="100%" class="btn btn-info"                    					>
						@obj.Status 
					</td>
					<td width="60%">
						<div class="col">
							<a asp-page="Edit" 
								asp-route-id=@obj.Id class="btn btn-info mx-2">
								Edit Status
							</a>
						</div>
					</td>
				</tr>
				}
		</tbody>
	</table>
</div>
<a asp-page="Index" class="btn btn-info">Back to Home Page</a>

@* <script	src="~/js/signalr.js"></script>
<script src="~/js/updateStatusRoom.js"></script> *@