@page 
@model Reservations.Pages.RoomsModel

<div class="container p-3">
	@* <div class="row pt-4">
		<div class="col-6">
			<h2 class="text-primary">Rooms List</h2>
		</div>
	</div> *@

	<br /><br />

	<table class="table table-bordered table-striped" style="width:100%">
		<thead>
			<tr>
				<th>
					Room Name
				</th>
				<th>
					Current Status
				</th>
				<th>
					Change Status
				</th>
			</tr>
		</thead>
		<tbody>
				@foreach (var obj in @Model.Rooms)
				{
				<tr>
					<td >
						 @obj.Id
					</td>
					<td class="btn btn-info" id="btnCurrent_@obj.Id">
						@obj.Status 
					</td>
					<td >
						<div class="btn-group" role="group">
									@if (obj.Status != "available")
							{
								<form method="post">
									<input type="number" name="id" value=@obj.Id hidden />
									<input type="text" name="name" value=@obj.Name hidden />
									<input type="text" name="status" value="available" hidden />
									<input class="btn btn-success p-1" 
											type="submit" 
											value="To Available" />
								</form>
							}

							@if (obj.Status != "cleaning")
							{
								<form method="post">
									<input type="number" name="id" value=@obj.Id hidden />
									<input type="text" name="name" value=@obj.Name hidden />
									<input type="text" name="status" value="cleaning" hidden />
									<input class="btn btn-warning p-1" 
											type="submit" 
											value="To Cleaning" />
								</form>
							}

							@if (obj.Status != "busy")
							{
								<form method="post">
									<input type="number" name="id" value=@obj.Id hidden />
									<input type="text" name="name" value=@obj.Name hidden />
									<input type="text" name="status" value="busy" hidden />
									<input class="btn btn-danger p-1" 
											type="submit" 
											value="To Busy" />
								</form>
							}

							@if (obj.Status != "renovation")
							{
								<form method="post">
									<input type="number" name="id" value=@obj.Id hidden />
									<input type="text" name="name" value=@obj.Name hidden />
									<input type="text" name="status" value="renovation" hidden />
									<input class="btn btn-secondary p-1" 
											type="submit" 
											value="To Renovation" />
								</form>
							}
						</div>
					</td>
				</tr>
				}
		</tbody>
	</table>
</div>
<a asp-page="Index" class="btn btn-info">Back to Home Page</a>

@* <script src="~/js/signalr.js"></script>
<script src="~/js/updateStatusRoom.js"></script> *@
